#slOverlay {
  display: flex;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 100;
}

#slLoader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 15vw;
  z-index: 100;
}